.login__container{
    display: flex;
    padding-top: 100px;
    padding-bottom: 100px;
    justify-content: center;
    background-image:white;
}
.login__form{
    padding: 50px;
    display: flex;
    flex-direction: column;
    width: 40%;
    align-items: center;
}
.login__form label{
    display: block;
}
.login__form h1{
    margin-bottom: 20px;
}
.login__form input{
    width:100%;
}
.login__form button{
    width: 50%;
    margin-top: 20px;
    border: 1px  solid black;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #cfd9df;
}
.email__container,.password__container{
    width: 40%;
}
.remaketwo{
    margin-top: 10px;
}
.remaketwo p,a{
    display: inline;
}

@media all and (max-width:414px){

    .login__form{
        padding: 50px;
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    .login__form h1{
        font-size: 15px;
    }
    .email__container label{
        font-size: 12px;
        font-weight: normal;
    }
    .password__container label{
        font-weight: normal;
        font-size: 12px;
    }
    .login__form button{
        height: 20px;
        border: 0.5px solid rgb(209, 205, 205);
        font-size: 12px;
    }
    .remaketwo p{
        font-size: 12px;
    }
    .remaketwo a{
        font-size: 12px;
    }
}