.signUp__container{
    padding: 100px;
    display: flex;
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    justify-content: center;
}
.signup__form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.signup__form h1{
    text-decoration: underline;
}
.name__container input:nth-of-type(1){
    margin-right: 20px;
    border: 1px solid black;
    border-radius: 10px;
}
.name__container input:nth-of-type(2){
    border: 1px solid black;
    border-radius: 10px;
}
.email__container{
    width: 100%;
}
.password__container{
    width: 100%;
}
.email__container input{
    width: 100%;
    border: 1px solid black;
    border-radius: 10px;
}
.password__container input{
    display: block;
    width: 100%;
    border: 1px solid black;
    border-radius: 10px;

}
label{
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: larger;
    font-weight: bolder;
}
#name{
    display: block;
    font-size: larger;
}
.signup__btn{
    margin-top: 20px;
    background-color: rgb(215, 218, 221);
    border: 1px solid black;
    border-radius: 10px;
}
.remake{
    margin-top: 20px;
}
.remake p,a{
    display: inline;
}
.remake a{
    margin-left: 5px
}

@media all and (max-width:414px){

    .signup__form h1{
        text-decoration: none;
        font-size: 20px;
    }
    .name__container input:nth-of-type(1){
        margin-right: 20px;
        border: 1px solid black;
        border-radius: 10px;
    }
    .name__container input:nth-of-type(2){
        border: 1px solid black;
        border-radius: 10px;
        margin-top: 20px;
    }
}