.bug__container{
    height: 100%;  
    width: 4em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    cursor: pointer ;
    margin-left: 5px;
}
.burger-bar {
    width: 2.5em;
    height: 0.2em ;
    background-color:white;
    border-radius: 0.5em;
    margin: 5px;
}
.menu{
    width: 20%;
    height: 100vh;
    background-color: rgb(103, 95, 95);
    position: absolute;
    box-shadow: 2px 2px 10px black;
    z-index: -1;
    left: 0;
   
}
.hidden{
    display: none;
}
.visible{
    display: inherit;
}
.burger-bar.clicked:nth-child(1){
    transform: rotate(90deg) translate(13px,15px);
    transition: ease-in 0.5s;
}
.burger-bar.clicked:nth-child(2){
    transform: rotate(90deg);
    transition: ease-in 0.5s;
}
.burger-bar.clicked:nth-child(3){
    transform: rotate(90deg) translate(-13px,-15px);
    transition: ease-in 0.5s;
}
.burger-bar .unclicked {
    transform: rotate(0) translate(0);
    transition: ease-in 1s;
}
.content_container{
    padding: 20px auto;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}
.content_container a{   
    text-decoration: none;
    text-align: center;
    font-size: 20px;
}
.login_tag{
    margin-top: 50px;
}
.signup_tag{
    margin-top: 50px;
}
